.loans-general{
    width: 100%;
    margin-top: 50px;
}
/* 
.loans-types{
   width: 30%;
   height:100%;
   margin: 0 40px;
   border-radius: 20px;
   border: 2px solid rgb(90, 90, 90);
   box-shadow: 10px 10px 20px rgba(20, 20, 20, 0.425);
   display: flex;
   flex-direction: column;
}
.auto{
     background-size:contain ;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    border-radius: 20px;
    height: 300px;
    
    


}
.gold{
    background-size:contain ;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;

}
.appliances{
    background-size:contain ;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
   
} */ 